/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    #main main {
        display: block;
        position: relative;
    }

    .content--left,
    .content--right {
        margin: 0 auto;
    }

    .content--left .social {
        margin-top: 180%;
    }

    .content--right {
        width: 48%;
        padding: 60px 80px;
        position: absolute;
        top: 444px;
        left: calc((100% - 48%) / 2);
    }

    .right--header {
        display: flex;
        justify-content: center;
    }
}

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {

}